{{#if success}}
  <div class="message">
    <header>Email has been sent{{#if email}} to {{email}}{{/if}}</header>
    <div class="body">{{message}}</div>
  </div>
{{else}}

  {{#if error}}
    <div class="message error">
      <div class="body">there has been an error.</div>
    </div>
  {{/if}}
{{/if}}

{{#unless success}}
  <form method="post">
    <fieldset>
      <legend>please input your username and your email to reset your password:</legend>

      <input type="text" value="username" />
      <input type="text" value="email" />
      <input type="submit" value="reset Password" />
    </fieldset>
  </form>

{{/unless}}
