<% if ( success == true ) { %>
  <div class="message">
    <header>Email has been sent<% if ( typeof email !== "undefined" ) {%> to <%= email %><% } %></header>
    <div class="body"><%message%></div>
  </div>
<% }else{ %>
  <% if ( error == true ) { %>
    <div class="message error">
      <div class="body">there has been an error.</div>
    </div>
  <% } %>
<% } %>

<% if ( typeof success === 'undefined' || !success ) { %>
  <form method="post">
    <fieldset>
      <legend>please input your username and your email to reset your password:</legend>

      <input type="text" value="username" />
      <input type="text" value="email" />
      <input type="submit" value="reset Password" />
    </fieldset>
  </form>
<% } %>
