<% var ut = locals.utils;%>

<% include adminheader.ejs %>


<form method="post">
  <fieldset>
    
    <legend>These are settings for the <%= setting.key %> plugin:</legend>

    <div class="form-fields">
      <% include variableInputTable %>
    </div>
     
    <div class="fields">
      <input name="submit" type="submit" value="save settings" />
    </div>
  </fieldset>
</form>

<% include adminaside.ejs %>

<% include adminfooter.ejs %>

