


{{#each messages}}
  <div class="{{class}}">{{text}}</div>
{{/each}}

<form action="" method="post">
  <fieldset>
    <legend>Options:</legend>
    
    {{#each options.opt}}
      <div class="fields">
        <label for="{{name}}">{{name}}:</label>
        
        {{#ifTypeEquals "string"}}
          <textarea name="{{name}}" id="{{name}}" cols="50" rows="1">{{value}}</textarea>
        {{/ifTypeEquals}}

        {{#ifTypeEquals "boolean"}}
          <input type="checkbox" name="{{name}}" {{#if value}}checked="checked" {{/if}} id="{{name}}" />
        {{/ifTypeEquals}}

      </div>
    {{/each}}
    
    <div class="fields">
      <input type="submit" value="save options" />
    </div>
  </fieldset>
</form>
