<% 
  var ut = locals.utils;
%>

<% ut.each(locals.messages, function(msg) { %>
  <div class="<%= msg.value.css %>"><%= msg.value.text %></div>
<% }); %>

<div class="info">
  This page will hold overviews over various possible options,
  
  <h2>Plugins:</h2>
  <ul class="plugins">
    <% ut.each(locals.settings, function(set) { %>
      <li>
        <a href="/admin/settings/<%= ut.slugify(set.value.name.value) %>"><%= set.value.name.value %></a>
      </li>
    <% }); %>
  </ul>
  
</div>
