<% 
  var ut = locals.utils;
%>

<% ut.each(locals.messages, function(eachObj){ %>
  <div class="<%class%>"><%text%></div>
<% } %>

<form action="" method="post">
  <fieldset>
    <legend>Options:</legend>
    
    <% ut.each(locals.options.opts%>
      <div class="fields">
        <label for="<%name%>"><%name%>:</label>
        
        <%#ifTypeEquals "string"%>
          <textarea name="<%name%>" id="<%name%>" cols="50" rows="1"><%value%></textarea>
        <%/ifTypeEquals%>

        <%#ifTypeEquals "boolean"%>
          <input type="checkbox" name="<%name%>" <%#if value%>checked="checked" <%/if%> id="<%name%>" />
        <%/ifTypeEquals%>

      </div>
    <% } %>
    
    <div class="fields">
      <input type="submit" value="save options" />
    </div>
  </fieldset>
</form>
