<% include ../header.ejs %>


<% 
  var ut = locals.utils;
%>

<% if ( typeof locals.user !== 'undefined' ) { %>
  <% ut.deprecated_each( locals.user, function (val) { %>
    <div><%= val.key %>: <%= val.value %></div>
  <% }) %>
<% } %>

<% include ../aside.ejs %>
<% include ../footer.ejs %>
