<% /* some shortcutting  */
  var pD = { title: "setup"}
    , mIs = false
    , ut = locals.utils
    , currentUser = false;
  
  
  if( typeof locals.pageData !== "undefined" ) {
      pD = locals.pageData;
      if(typeof pD.meta !== 'undefined' && typeof pD.meta.mIs !== 'undefined' && typeof pD.meta.mIs.footer !== 'undefined') {
        mIs = pD.meta.mIs.footer;
      }
  }
  
  if( typeof locals.currentUser !== 'undefined' ){
    currentUser = locals.currentUser;
  }
%>

    </article>
  
    <footer>
      <% if( pD.footer ){ %>
        <%= pD.footer %>
      <% } %>
      
      <% if ( typeof menuItems !== 'undefined' && ut.count(menuItems) > 0 ) { %>
        <nav>
          <ul>
            <% ut.each(menuItems.footer, function(menuItem){ %>
              <li>
                <a href="<%= menuItem.value.url %>"><%= menuItem.value.text %></a>
              </li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
    </footer>
    <div id="userinfo">
      <% if( typeof currentUser !== 'undefined' && currentUser.name ){ %>
        <%= currentUser.name %>
      <% } %>
    </div>
  </body>
</html>
