<% /* some shortcutting  */
  var pageData = locals.pageData || { title: "setup"}
    , menuItems = locals.menuItems || {}
    , ut = locals.utils
    , currentUser = currentUser || false;
%>

    </article>
  
    <footer>
      <% if ( pageData.footer ) { %>
        <%= pageData.footer %>
      <% } %>
      
      <% if ( typeof menuItems !== 'undefined' && ut.count(menuItems) > 0 ) { %>
        <nav>
          <ul>
            <% ut.each(menuItems.footer, function (k, mI) { %>
              <li>
                <a href="<%= mI.url %>"><%= mI.text %></a>
              </li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
    </footer>
    <div id="userinfo">
      <% if ( typeof currentUser !== 'undefined' && currentUser.name ) { %>
        <%= currentUser.name %>
      <% } %>
    </div>
  </body>
</html>
