{{#if showform}}
  <div class="setupform">
   <form action="" method="post">
     <fieldset>
       <legend>Press the button to start the setup:</legend>
       <div class="fields">
         <input type="submit" value="start setup" />
       </div>
     </fieldset>
   </form>
  
  </div>
{{else}}

  setup completed
  {{#each messages}}
    {{message}}
  {{/each}}
{{/if}}
