<% var ut = locals.utils; %>

<% include header.ejs %>

<% include errs.ejs %>
<% include msgs.ejs %>

<% if ( typeof showform !== 'undefined' && showform == "true" ) { %>
  <div class="setupform">
    <form method="post">
      <fieldset>
        <legend>These variables are the defaults for dry-kiss. you can change them now or later, however you wish.</legend>
        
        <div class="fields">
         <input name="submit" type="submit" value="start setup" />
        </div>

        <% ut.deprecated_each(locals.settings, function (setting) { %>
            <div class="form-fields">
              <header><%= setting.key %>:</header>
              <% include admin/variableInputTable %>
            </div>
        <%});%>
       
        <div class="fields">
          <input name="submit" type="submit" value="start setup" />
        </div>
      </fieldset>
    </form>
  </div>
<% } else { %>
  <div>setup completed</div>
<% } %>

<% include aside.ejs %>
<% include footer.ejs %>
